NEXT_PUBLIC_CLIENT_ID=YOUR_CLIENT_ID
NEXT_PUBLIC_TENANT_ID=bf2f39aa-496c-406a-940c-41e73a851d39
NEXT_PUBLIC_DL_EMAIL=leden@example.com
# Function App backend
NEXT_PUBLIC_API_URL=http://localhost:7071
NEXT_PUBLIC_API_SCOPE=api://YOUR_FUNCTION_APP_ID/access_as_user
